/keystore.p12
/application-dev.properties
/application-dev_remote_db.properties
/application-https_dev.properties
/application-https_prod.properties
/application.properties
/application-prod.properties
/configprops.properties
