server.port: 8080

spring.profiles.active: dev, dev_https
#spring.profiles.active: dev_docker, dev_https
#spring.profiles.active: prod_docker, prod_https

spring.messages.encoding: UTF-8
server.servlet.encoding.charset: UTF-8
server.servlet.encoding.enabled: true

management:
  endpoints:
    web:
      exposure:
        include: "*"

logging:
  level:
    reactor:
      netty: INFO
    org:
      springframework:
        cloud:
          gateway: TRACE
